.container {
    padding: 0 60px;
    width: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;  
}

h1 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.input input {
    position: relative;
    width: 500px;
    height: 30px;
    font-size: 20px;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input button {
    position: absolute;
    width: 70px;
    height: 35px;
    margin-left: 25px;
    border-radius: 6px;
    border: none;
    background-color: #1a73e8;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    opacity: 0.6;
    pointer-events: none;
}

.input button.active {
    opacity: 1;
    pointer-events: auto;
}

.todoList {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todoList li {
    list-style: none;
    margin-left: -45px;
    height: 45px;
    line-height: 45px;
    background: #f2f2f2 ;
    border-radius: 3px;
    margin-bottom: 8px;
    padding: 0 15px;
}

.todoList li span {
    position: absolute;
    right: 0px;
    color: red;
    margin-right: 75px;
}


.todoList input {
    height: 40px;
    width: 50px;
    position: absolute;
    left: 0;

}

.todoList input.active {
    text-decoration: lin;
}

.footer {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer button {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}